<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold"><%= title %> Me</h1>
      <p class="col-md-8 fs-4">
        My name is Abdulsaheed DurodolaI am a web developer, living in Scarborough,Ontario. Currently schooling in Centennial college .
        .</p>

 
    </div>

    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Abdulsaheed Durodola</h1>
      <img src="Assets/images/me.jpg" class="col-md-8 fs-4" style="width: 50%;height:50%;"> 
 
    </div>
    </div>