<footer >
    <nav class="navbar fixed-bottom navbar-dark bg-dark text-center">
    <h6 class="display-9 navbar-text text-center" ><span>&copy; Abdulsaheed Summer 2021 copyright. All Right reserved</span></h6>
    </nav>
    
      </footer>