<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Welcome to My <%= title %> Page</h1>
      <p class="col-md-8 fs-4">Welcome to my home page . If you are looking for the papropriate business solution for your enterprise and if you are looking to hire a full stack developer to complete your projects goal. Feel free to <a href="/Contact">contact me</a></p>
 
    </div>

    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Mission Statement</h1>
      <p class="col-md-8 fs-4">To create an affordable solution for SME's that need to implement IT in theorbusiness inorder to grow and maximize profit.</p>
 
    </div>
    </div>